@charset "UTF-8";
:root {
    /*Colors*/
    font-family: Helvetica;
    --color-primary:#F3BE61;

    strong {
        font-weight: 700!important
    }
    background-color: lightgrey;
}

.flash-bar {
    background-color: var(--color-primary);
    text-align: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.pix-icon {
    width: 20px;
    height: auto;
}

.header-primary {
    background-color: white;
    height: 80px;
    
}

.categories {
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgba(211, 211, 211, 0.616);
    box-shadow: 0px 15px 9px -5px rgba(0,0,0,0.1);
}

#logo {
    position: absolute;
    top: 65px;
    left: 290px;
    height: 25px;
}

#botao-pesquisa {
    position: absolute;
    top: 67px;
    right: 505px;
    background-color: white;
    border: none;
    background-color:rgb(255, 255, 255);
    
    }

#barra-pesquisa {
    position: absolute;
    top: 60px;
    right: 500px;
    border: 1px solid black;
    border-radius:5px;
    width: 400px;
    height: 40px;
}

#wishlist {

}
    
#conta {

}

#carinho {

}



